extends layout
block content
    .container(style="background-color:grey;")
      div
        img(src="bodaboda.jpg.PNG" style="height: 500px; width: 450px; margin-left: 150px; padding-top: 30px;")
    
      .row
        .col-md-12
          p
            | You want a ride but your regular boda boda is not available; you need a package delivered but you have no way of knowing which rider is nearby. The Konnector will link you with the nearest boda boda rider to satisfy your transport need, be it a ride, a parcel delivery or grocery store purchase.
            | And this is done with safety in mind. Any rider registered in The Konnector undergoes a vetting process through the local administration. A peer accountability mechanism where the riders are organised in groups ensures that riders are adhering to established and agreed norms.
    

