<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <title>BB-Banja</title>
</head>
<body>
    <div style="background-color:green;"class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul style="float: left;"> <img style="height: 40px;position: relative;top: 8px;"src="bodaicon.PNG"> </ul>
    <ul style="float: left;margin-left: 110px;color:white;font-size: 30px;">
BB-Banja
    </ul>
    <ul style="float: right;padding-top: 15px;"> <a href="#"> CUSTOMER </a> </ul>
    <ul style="float: right;padding-top: 15px;"> <a href="#">SALES EXECUTIVE/SUPERVIVOR</a> </ul>
    <ul style="float: right;padding-top: 15px;"> <a href="reg.html"> REGISTER</a></ul>
    <ul style="float: right;padding-top: 15px;"><a href="login.html">LOGIN</a> </ul>
    <ul style="float: right;padding-top: 15px;"><a href="#"> HOME</a></ul>
    
   
</div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
    <h1>BB-Banja</h1>
    <p>Boda boda banja (BB-banja), is a private company that offers bodabodas, tuktuks, tricycles among others on credit to qualified Ugandans.</p>
</div>
</div>
</div>
</body>
</html>