body{
    margin: 0px;
    padding: 0px;
    background-color: grey;
}
.h1{
     text-align: center;
     padding: 10px;
 }
 
 .sales{
      background: #fff; 
     width: 600px;
     margin: auto;
     /* margin: 0px 0px 0px 500px; */
     color: black;
     font-size: 18px;
     padding: 15px;
     
 }